<% layout("layout/boilerplate.ejs") -%>
    <div class="row">

        <div class="col-6 offset-3">
            <h1 class="text-center">Update GeoCache</h1>
            <form method="POST" class="validated-form" action="/campgrounds/<%=campground._id %>?_method=PUT" novalidate
                enctype="multipart/form-data">
                <div>
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" id="title" type="text" value=<%=campground.title %> name="campground[title]">
                </div>
                <div class="mt-2">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" id="location" type="text" value="<%= campground.location %> " name="campground[location]">
                </div>
                <div class="mt-2">
                    <label for="image" class="form-label">Upload Images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>
                <div class="mt-2">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input id="price" type="text" class="form-control" placeholder="0.00" aria-label="Amount (to the nearest dollar)" name="campground[price]" value=<%=campground.price %> >
                    </div>
                </div>

                <div class="mt-2">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" placeholder="Description" name="campground[description]"><%= campground.description %></textarea>
                </div>

                <div class="mt-2">
                    <% campground.image.forEach( (currImg, i)=> { %>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value=<%=currImg.key%> name="deleteImages[]"
                            id=<%= i %> >
                                <label class="form-check-label" for=<%=i %> >
                                    Delete this image?
                                </label>
                        </div>
                        <img src=<%=currImg.url %> class="img-thumbnail" >
                        <% }) %>

                <br>
                <button class="btn mt-3 btn-info"> Edit Campground</button>
            </form>
        </div>

    </div>