<% layout("layout/boilerplate.ejs") -%>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img class="card-img-top" alt="Image of Campground" src="<%= campground.image %>">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item text-muted">$
                        <%= campground.price %>/night
                    </li>
                </ul>
                <div class="card-body">
                    <a class="btn btn-info" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer">
                    Last Edited: 2 Days ago
                </div>
            </div>
            <h2>Leave a Review</h2>
            <form method="POST" action="/campgrounds/<%= campground._id %>/reviews">
                <div>
                    <label for="rating" class="form-label">Rating</label>
                    <input min="1" max="5" class="form-range" id="rating" type="range" name="review[rating]">
                </div>
                <div class="mt-2">
                    <label class="form-label" for="body">Description</label>
                    <div class="input-group">
                        <textarea id="body" class="form-control" name="review[body]"> </textarea>
                    </div>
                </div>
                <button class="btn mt-3 btn-success"> Submit</button>
            </form>
        </div>
    </div>