<% layout("layout/boilerplate.ejs") -%>
    <div id="map" style="width: 100%; height:500px"></div>
    <h1 class="mt-5 mb-5">
        All GeoCaches
    </h1>
    <ul class="ps-0">
        <% for (let geocache of geocaches) { %>
            <div class="row mb-3">
                <div class="col-md-4 ms-0">
                    <img class="img-fluid" alt="" src=<% if (geocache.image.length> 0) { %><%=geocache.image[0].url
                        %>
                        <% } %> >                
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= geocache.title %>
                        </h5>
                        <p class="card-text">
                            <%= geocache.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= geocache.location %>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/geocaches/<%= geocache._id %> "> View <%= geocache.title
                                %> </a>
                    </div>
                </div>

            </div>
            <% } %>
    </ul>
    <script>
        const geocaches = {features: <%- JSON.stringify(geocaches) %>};
        const MAP_TOKEN = '<%- process.env.MAPBOX_TOKEN %>';
    </script>
    <script src="/Javascript/clusterMap.js"></script>
